.contextAddition {
  margin: 0 auto;
  background: #eeeeee;
  width: 560px;
  height: 250px;
  text-align: center;
}
.reducerAddition {
  margin: 0 auto;
  background: coral;
  width: 560px;
  height: 250px;
  text-align: center;
}
.btn {
  display: inline-block;
  width: 240px;
  height: 90px;
  margin: 30px 20px;
  border: none;
  color: white;
  font-size: 36px;
  background: #726e6e;
  cursor: pointer;
  transform: scale(1);
  transition: transform 250ms ease;
}
.btn:hover {
  transform: scale(1.1);
  transition: transform 250ms ease;
}
.heading1 {
  font-size: 36px;
  padding: 20px 0;
}
#reducerCounter {
  color: white;
}
